body title {
    width: 100px;
    height: 30px;

}
.center-screen-items {
    display: flex;
flex-direction: column;
align-items: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    /* margin-top: 280px; */
    background-color: rgb(81, 196, 235);
    border: 4px solid rgb(214, 214, 59);
    
}
/* 
.sprite {
    background: url('../images/olimar_pik_sprites.png') no-repeat -201px -13px;
    width: 16px;
    height: 38px;
} */

.title-container {
    width: 630px;
    margin-bottom: 5px;
    /* height: 100px; */
    /* margin-bottom: 20px; */
    /* background: black; */
    background-image: url("../images/pikmin_title.png");
    background-size: 95%;
    background-repeat: no-repeat;
    margin-left: 50px;
    /* width: 600px; */
    height: 155px;
}